<mat-toolbar color="primary">
  
  <div class="flex-stretch"></div>
  <mat-icon class="mr-8">brightness_5</mat-icon>
  <mat-slide-toggle class="mr-8" [(ngModel)]="isDark">
  </mat-slide-toggle>
  <mat-icon>bedtime</mat-icon>
</mat-toolbar>
<div [ngClass]="{'darkMode':isDark}" class="mat-app-background">  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">LIKE</button>
      <button mat-button color="accent">SHARE</button>
      <button mat-button color="warn">DELETE</button>
    </mat-card-actions>
  </mat-card>  

  <div style="height: 200px;">
    This is some random div
  </div>
</div>

